# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
<!DOCTYPE-html>
<html>
 <header>
    <h1></strong></u>Introduction to the Applied Accessibility Challenges</strong></u><h1>
 </header>
 <hr>
 <main>
  <ul>
   <li>Add a Text Alternative to Images for Visually Impaired Accessibility</li>
   <li>Know When Alt Text Should be Left Blank</li>
   <li>Use Headings to Show Hierarchical Relationships of Content</li>
   <li>Jump Straight to the Content Using the main Element</li>
   <li>Wrap Content in the article Element</li>
   <li>Make Screen Reader Navigation Easier with the header Landmark</li>
   <li>Make Screen Reader Navigation Easier with the nav Landmark</li>
   <li>Make Screen Reader Navigation Easier with the footer Landmark</li>
   <li>Improve Accessibility of Audio Content with the audio Element</li>
   <li>Improve Chart Accessibility with the figure Element</li>
   <li>Improve Form Field Accessibility with the label Element</li>
   <li>Wrap Radio Buttons in a fieldset Element for Better Accessibility</li>
   <li>Add an Accessible Date Picker</li>
   <li>Standardize Times with the HTML5 datetime Attribute</li>
   <li>Make Elements Only Visible to a Screen Reader by Using Custom CSS</li>
   <li>Improve Readability with High Contrast Text</li>
   <li>void Colorblindness Issues by Using Sufficient Contrast</li>
   <li>Avoid Colorblindness Issues by Carefully Choosing Colors that Convey Information</li>
   <li>Give Links Meaning by Using Descriptive Link Text</li>
   <li>Make Links Navigatable with HTML Access Keys</li>
   <li>Use tabindex to Add Keyboard Focus to an Element</li>
   <li>Use tabindex to Specify the Order of Keyboard Focus for Several Elements</li>
  </ul>
 </main>
  <hr>
 <article>
   <div>
     <header>
       <h1><u><strong>Relaxing Music While You Learn</u></strong></h1>
     </header>
   </div>
  <hr>
  <style>
   .image-smaller {
    width: 500px;
   }
  </style>
  <a href="#"><img class"smaller-image" src="https://www.thedj.co.uk/wp-content/uploads/2014/07/music-colour-splash.jpg" alt="colorful music notes, made with splatterd paint">
   <main>
     <p>Feel <strong>Free</strong> to play theese <u>Tunes</u> while on this site:</p>
     <hr>
  </article>
    <nav>
     <audio id="RelaxingMUSIC" controls>
     <source   src="https://www.bensound.org/bensound-music/bensound-acousticbreeze.mp3" type="audio/mpeg" />
     </audio>
       <audio id="DreamyCLASSICS" controls>
         <source
         src="https://www.bensound.org/bensound-music/bensound-newdawn.mp3" />   
         type="audio/mpeg" />
     </audio>
     </audio>
       <audio id="PUNK" controls>
         <source
         src="https://www.bensound.org/bensound-music/bensound-punky.mp3" />   
         type="audio/mpeg" />
     </audio>
     </audio>
       <audio id="JAZZ" controls>
         <source
         src="https://www.bensound.org/bensound-music/bensound-thejazzpiano.mp3" />   
         type="audio/mpeg" />
     </audio>
     </audio>
       <audio id="Frenchy-Jazz" controls>
         <source
         src="https://www.bensound.org/bensound-music/bensound-jazzyfrenchy.mp3" />   
         type="audio/mpeg" />
     </audio>
    </nav>
   </main>
  <footer>&copy; 2018 OJKT Styles</footer>
  <!--<p>above is audio with some basic <div> elements over the header and <nav> elements over the audio links. There is also clear use of main, body, footer, header and article tags. even an alt tag for furhter use.</p>-->
  <hr>
  <!--End of commit 3-->
  	<div id="features">
  <h1><u>Show heirachial relationships of content:</u></h1>
  <hr>
  <main>
		<br>
    <h2><u>Semantic Meaning:</u></h2>
    <h3>what tag your using.</h3>
    <h3>and what is in that tag.</h3>
  <br>
    <h2><u>Main Subjects:</u></h2>
    <h3>Should only be 1 h1 elelement per page.</h3>
    <h3>headings are used by search engines to understand the topics of the page.</h3>
  <br>
    <h2><u>Parent-Child Relationship:</u></h2>
    <h3>h1 to h2 to h3 <strong>like this</strong> is correct</h3>
    <h5>h1 to h2 to h5 <strong>like this</strong> is incorrect.</h5>
  </main>
	</div>
	
<hr>
	
	<form id="form">
		<h2><u>Survey</u></h2>
        <ol>Please Enter Your DOB</ol>
        <label for="pickdate">Preferred Date:</label>
        <input type="date" id="pickdate" name="date">
		<br>
		<label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>
      <fieldset>
        <legend>What level ninja are you?</legend>
        <input id="newbie" type="radio" name="levels" value="newbie">
        <label for="newbie">Newbie Kitten</label><br>
        <input id="intermediate" type="radio" name="levels" value="intermediate">
        <label for="intermediate">Developing Student</label><br>
        <input id="master" type="radio" name="levels" value="master">
        <label for="master">9th Life Master</label>
      </fieldset>
      <br>
      <fieldset>
      <legend>Select your favorite weapons:</legend>
      <input id="stars" type="checkbox" name="weapons" value="stars">
      <label for="stars">Throwing Stars</label><br>
      <input id="nunchucks" type="checkbox" name="weapons" value="nunchucks">
      <label for="nunchucks">Nunchucks</label><br>
      <input id="sai" type="checkbox" name="weapons" value="sai">
      <label for="sai">Sai Set</label><br>
      <input id="sword" type="checkbox" name="weapons" value="sword">
      <label for="sword">Sword</label>
      </fieldset>
      <br>
      <input type="submit" name="submit" value="Submit">
	</form>
	
<br>
<hr>
	
	<div id="section">
	<table id="sr-only">
      <h2 id="caption">a table to show most used elements.</h2>
      <thead>
        <tr>
          <th></th>
          <th scope="col">hr &amp; br</th>
          <th scope="col">li</th>
          <th scope="col">id</th>
          <th scope="col">Total</th>                                        
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Pen One</th>
          <td>3</td>
          <td>5</td>
          <td>2</td>
          <td>10</td>
        </tr>
        <tr>
          <th scope="row">Pen Two</th>
          <td>4</td>
          <td>5</td>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">Pen Three</th>
          <td>4</td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
        </tr>
      </tbody>
    </table>
 </div>
	
<hr>
	
	<footer id="footer">
		<ol>
			<i><a href="#">Privacy  .</a></i>
      <i><a href="#">Terms  .</a></i>
      <i><a href="https://www.facebook.com/Active-Boardom-1433050133615965/?__tn__=kC-R&eid=ARDxFnA2JMu6bjlwqWvI3V1d0Rce9HdYBzDGGtJp0BhH-ueOlTAQbh0whATwwgFna9sm9jkboRpjWJnD&hc_ref=ARQaDkOV-XEkdyZItVQH9yuafF_narIIMZukBWJoaFoVgKTTBr5qBLQ1pDtdCP1cxF0&fref=nf&__xts__[0]=68.ARDYkTx9CsRT4OGTCvkO4FfhIcApAmkjQ-zBxaLHt1nqutrcdBfuonVlBKBXLg-l6giN-MiLriy2iHhYK3-uZ7l8efaHcYfOQPPUo3YknyBCljz10jZVwawd_JPGlqxxUxpaKdDVOc7vv4zQb1gvTtbiga9MLXcGfadpQU6YN_ZFZFBORq0wTJ2gjwQWf-hqAyErVWR_HM-_tje583zlZDxOBvyFSIb71aWN5zby5u-Ar3tr-Zn6BXKJ03w-KH30lCsYY8yrgpdS7DWA_-M3ogU_9pI9jGXFww4iDR6qmOdznSinEPP_J0pCY3maDJ4_2n1-a3Uq57kDKz4vC98">Contact  .</a></i> <!--contact-->
		</ol>
	    <span>&copy Copyright 2018, OJKT STYLES</span>
	</footer>
	
</div>
</html>
